Plugins>tango>PostFilters, "Mean intensity Filter", tango.plugin.filter.IntensityFilter
Plugins>tango>SpotSegmenter, "Seeded Watershed 3D", tango.plugin.segmenter.SeededWatershed3D
Plugins>tango>Segmenter, "Simple Segmenter", tango.plugin.segmenter.Segment3D_
TANGO>Measurements, "Distances", tango.plugin.measurement.Distances
TANGO>PreFilters, "Geodesic Distance Map", tango.plugin.filter.GeodesicDistanceMap
TANGO>Samplers, "Homolog Distance", tango.plugin.sampler.HomologDistanceSampler
TANGO>Samplers, "Multiple Constraints", tango.plugin.sampler.ConstraintPointSampler
TANGO>Samplers, "Proba", tango.plugin.sampler.ProbaPointSampler
TANGO>SpatialDescriptors, "H Function inter", tango.spatialStatistics.spatialDescriptors.H2
TANGO>SpatialDescriptors, "G Function Geodesic", tango.spatialStatistics.spatialDescriptors.GFunctionGeodesic
TANGO>SpatialDescriptors, "G2 To Observed Structure", tango.spatialStatistics.spatialDescriptors.G2ToObservedStructure
TANGO>Measurements, "Volume Fraction Spatial Distribution", tango.plugin.measurement.radialAnalysis.VolumeFractionSpatialDistribution