TANGO>tango, "Update Tango", tango.Supervisor
TANGO>tango, "Add Shortcut", tango.addShortcut
TANGO>tango, "TANGO...", tango.gui.Main_
TANGO>tango, "tangoRunner", tango.Runner
#Thresholders
TANGO>Thresholders, "AutoThreshold", tango.plugin.thresholder.AutoThreshold
TANGO>Thresholders, "Percentage Of Bright Pixels", tango.plugin.thresholder.PercentageOfBrightPixels
TANGO>Thresholders, "Value", tango.plugin.thresholder.Value
TANGO>Thresholders, "Threshold Adjustment", tango.plugin.thresholder.ThresholdAdjustment
TANGO>Thresholders, "Thresholder operation", tango.plugin.thresholder.ThresholderOperation
TANGO>Thresholders, "Kappa Sigma Clipping", tango.plugin.thresholder.KappaSigma
#Pre Filters
TANGO>PreFilters, "Misc 3D Filters", tango.plugin.filter.Misc_3DFilters
TANGO>PreFilters, "Fast Filters 3D", tango.plugin.filter.Fast_Filters3D
TANGO>PreFilters, "Image Features", tango.plugin.filter.ImageFeatures
TANGO>PreFilters, "Translate", tango.plugin.filter.Translate3D
TANGO>PreFilters, "Histogram Transformation", tango.plugin.filter.HistogramTransformation
TANGO>PreFilters, "Test Threshold Method", tango.plugin.filter.TestThresholdMethod
TANGO>PreFilters, "Attenuation Correction ", tango.plugin.filter.AttenuationCorrection
TANGO>PreFilters, "Attenuation Correction2", tango.plugin.filter.Attenuation_Correction
TANGO>PreFilters, "Subtract Gaussian", tango.plugin.filter.SubtractGaussian
#Post Filters
TANGO>PostFilters, "Morphological Filters 3D", tango.plugin.filter.MorphoMathFilters
TANGO>PostFilters, "Size And Edge Filter", tango.plugin.filter.SizeFilter
TANGO>PostFilters, "Number Filter", tango.plugin.filter.NumberFilter
TANGO>PostFilters, "Region Adjustment", tango.plugin.filter.AdjustRegions
TANGO>PostFilters, "Local Segmentation", tango.plugin.filter.LocalSegmentation
TANGO>PostFilters, "Merge Regions", tango.plugin.filter.mergeRegions.MergeRegions
TANGO>PostFilters, "Erase Spots", tango.plugin.filter.EraseSpots
TANGO>PostFilters, "Erase Regions", tango.plugin.filter.EraseRegions
TANGO>PostFilters, "Watershed 2D", tango.plugin.filter.Watershed2D
TANGO>PostFilters, "Adjust Labels", tango.plugin.filter.AdjustLabels
TANGO>PostFilters, "ReLabel", tango.plugin.filter.ReLabel
#Quantifications
TANGO>Measurements, "Spatial Statistics", tango.spatialStatistics.SpatialAnalysis
TANGO>Measurements, "Opening Granulometry", tango.plugin.measurement.Granulometry
TANGO>Measurements, "Measure Geometrical Simple", tango.plugin.measurement.Simple_MeasureGeometrical
TANGO>Measurements, "Measure Geometrical Mesh", tango.plugin.measurement.Simple_MeasureMesh
TANGO>Measurements, "Measure Geometrical Invariants", tango.plugin.measurement.Simple_MeasureInvariants
TANGO>Measurements, "Signal Quantification", tango.plugin.measurement.Simple_MeasureStatistics
TANGO>Measurements, "Numbering", tango.plugin.measurement.Simple_MeasureNumbering
TANGO>Measurements, "Signal Quantification Layer", tango.plugin.measurement.Layer_Statistics
TANGO>Measurements, "Signal Noise Quantification", tango.plugin.measurement.SignalNoiseQuantification
TANGO>Measurements, "Object Colocalization", tango.plugin.measurement.ObjectColocalization
TANGO>Measurements, "JACOP Colocalization", tango.plugin.measurement.Jacop_
TANGO>Measurements, "Store Histogram", tango.plugin.measurement.Histogram
TANGO>Measurements, "Eroded Volume Fraction", tango.plugin.measurement.radialAnalysis.RadialAnalysis
TANGO>Measurements, "Eroded Volume Fraction (Extended)", tango.plugin.measurement.radialAnalysis.ErodedVolumeFractionExtended
TANGO>Measurements, "Extended Volume Fraction", tango.plugin.measurement.radialAnalysis.ExtendedVolumeFraction
TANGO>Measurements, "Object Orientation", tango.plugin.measurement.radialAnalysis.ObjectOrientation
TANGO>Measurements, "Shell Analysis", tango.plugin.measurement.radialAnalysis.ShellAnalysis
TANGO>Measurements, "Shell Profile", tango.plugin.measurement.radialAnalysis.ShellProfile
TANGO>Measurements, "Distances", tango.plugin.measurement.distance.GenericDistances
TANGO>Measurements, "Minimal distances", tango.plugin.measurement.distance.MinimalDistance
TANGO>Measurements, "Texture", tango.plugin.measurement.GLCM_Texture
TANGO>Measurements, "Grayscale Spatial Moments", tango.plugin.measurement.GrayscaleSpatialMoments
TANGO>Measurements, "Grayscale Radial Moments", tango.plugin.measurement.GrayscaleRadialMoments
TANGO>Measurements, "Radial Autocorrelation 3D", tango.plugin.measurement.RadialAutoCorrelation3D
TANGO>Measurements, "Object Pattern Descriptors", tango.plugin.measurement.ObjectPatternAnalysis
TANGO>Measurements, "Mediated Contact ", tango.plugin.measurement.MediatedContact
TANGO>Measurements, "Cell Cycle Measurements", tango.plugin.measurement.CellCycleMeasurements
TANGO>Measurements, "Edge Contact", tango.plugin.measurement.EdgeContact
TANGO>Measurements, "Texture 3D", tango.plugin.measurement.Texture3D
TANGO>Measurements, "Summarize Object2Object", tango.plugin.measurement.SummarizeObject2Object
#Segmenters
TANGO>Segmenters, "Simple Segmenter", tango.plugin.segmenter.Segment3D_
TANGO>Segmenters, "Hysteresis Segmenter", tango.plugin.segmenter.HysteresisSegmenter
TANGO>Segmenters, "Spot Segmenter", tango.plugin.segmenter.SeedSpots_Plus
TANGO>Segmenters, "Seeded Watershed 3D", tango.plugin.segmenter.SeededWatershed3D
TANGO>Segmenters, "Seeded Watershed 3D Nucleus", tango.plugin.segmenter.SeededWatershed3DNucleus
TANGO>Segmenters, "Spot Detector 3D", tango.plugin.segmenter.SpotDetector3D
TANGO>Segmenters, "Nucleus Edge Detector", tango.plugin.segmenter.NucleusEdgeDetector
TANGO>Segmenters, "Iterative Thresholding", tango.plugin.segmenter.IterativeThreshold
#Samplers
TANGO>Samplers, "Uniform", tango.plugin.sampler.UniformPointSampler
TANGO>Samplers, "Constraint Distance", tango.plugin.sampler.ConstraintDistanceSampler
#Spatial Descriptors
TANGO>SpatialDescriptors, "F Function", tango.spatialStatistics.spatialDescriptors.FFunction
TANGO>SpatialDescriptors, "G Function", tango.spatialStatistics.spatialDescriptors.GFunction
TANGO>SpatialDescriptors, "H Function", tango.spatialStatistics.spatialDescriptors.HFunction
TANGO>SpatialDescriptors, "Minimal Distance", tango.spatialStatistics.spatialDescriptors.MinDistance
